---
layout: wp
comments: false
shownav: false
---
<p>文章列表:</p>

{% for post in paginator.posts %}
<ul class="entries">
   <li>{{ post.date | date: "%A, %B %-d, %Y" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  <div class="content">
    {{ post.content | strip_html | truncatewords: 2 }}
  </div>
</ul>
{% endfor %}

<!-- Pagination links -->
<div class="page-nav">
 {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
  		<a href="/" > << 前一页</a>
  	{% else %}
        <a href="/" rel="bookmark" class="item"><<<首页</a>
  		<a href="/page{{ paginator.previous_page }}" > << 前一页</a>
  	{% endif %}
 {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
  	<a href="/page{{ paginator.next_page }}" rel="bookmark" class="item"> 下一页>></a>
    <a href="/page{{ paginator.total_pages }}" rel="bookmark" class="item"> 末页>>></a>
  {% endif %}

 
  </div>
